@model SchoolManagmentSystem.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Student Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName): 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
    {
        @Html.ActionLink("Add a course", "AddCourseToStudent", new { id = Model.studentId }, new { @class = "btn btn-primary" }) 
}
    @if (User.IsInRole("Admin"))
    {   
        @Html.ActionLink(" | Edit | ", "Edit", new { id = Model.studentId })
    }

    @Html.ActionLink("Back to List", "Index")
</p>

<hr />

<h4>List of courses @Model.FirstName is taking:</h4>
<ul>
    @foreach (var item in Model.courses)
    {
        <li>
            <a href="/Courses/Details/@item.courseId">@item.Title</a>
        </li>

    }
</ul>
