@model IEnumerable<SchoolManagmentSystem.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h1>Instructors</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
    @Html.ActionLink("Add Instructor", "Create", null, new { @class = "btn btn-primary" })
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Office)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit | ", "Edit", new { id = item.instructorId })
                @Html.ActionLink("Delete | ", "Delete", new { id = item.instructorId })
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
            {
                @Html.ActionLink("Details |", "Details", new { id = item.instructorId })
            }
        </td>
    </tr>
}

</table>
